{% extends 'base.html' %}
{% block content %}
<div class="mycard">
    <p>I made this calculator to assess real estate investments. An investment like
    this has lots of variables, and trying to crunch all these numbers on paper is
    inefficient... especially when I can showcase my Flask framework web design
    skill in the process!</p>
    <a href="/">Back to calculator</a>
</div>


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T_7vhsSBi7c" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
    picture-in-picture" allowfullscreen></iframe>
</div>
<p class="col-md-8 col-sm-8 text-center mycard">To learn more about the formula and thoughts behind it, check out this
    video.
</p>

{% endblock content %}