{% extends 'base.html' %}
{% block content %}
<div class="card about">
    <p>I made this calculator to assess real estate investments. An investment like
    this has lots of variables, and trying to crunch all these numbers on paper is
    inefficient... especially when I can showcase my Flask framework web design
    skill in the process!</p>
    <a href="/">Back to calculator</a>
</div>


<div class="vidcard">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/T_7vhsSBi7c" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
    picture-in-picture" allowfullscreen></iframe>
    <p>To learn more about the formula and thoughts behind it, check out this
        video.
    </p>
</div>

{% endblock content %}